<?xml version="1.0" encoding="utf-8"?>
<game>
	<robots>
		<robot name="Surus" graphic="res/robot/surus.svg"/>
		<robot name="Hushpuppy" graphic="res/robot/hushpuppy.svg"/>
	</robots>
	<themes>
		<theme name="desert">
			<block type="victory" name="Victory" img="res/theme_desert/victory.svg"/>
			<block type="obstacle" name="Obstacle" img="res/theme_desert/obstacle.svg"/>
			<block type="neutral" img="res/theme_desert/neutral.svg"/>
		</theme>
	</themes>
	<items>
		<item name="Treasure" id="0" graphic="res/items/treasure.svg"/>
		<item name="Water" id="1" graphic="res/items/water.svg"/>
	</items>
	<!--
	Level options as follows:
		Features/Block Management:
			useTopic: True if topic features should be enabled, false otherwise. Default true.
			useSensors: True if sensor features should be enabled, false otherwise. Default true.
			useMove: True if the Move block should be enabled, false otherwise. Default true.
			useTurn: True if the Turn block should be enabled, false otherwise. Default true.
			usePickUpItem: True if the Pick Up Item block should be enabled, false otherwise. Default true.
			useDropItem: True if the Drop Item block should be enabled, false otherwise. Default true.
			useForLoop: True if the For Loop block should be enabled, false otherwise. Default true.
			useReadSensor: True if the Read Sensor block should be enabled, false otherwise. Default true.

			topicOnlyForMove: True if the move block can only use the topic, false if it can use numbers

			Example:
			<level name="Level 1" difficulty="1" useTopic="false" useMove="false">

		Victory Management:
			Tile: The player must be on a certain tile at the end of the code
			ItemPosition: The item inventory on a tile must match a specified inventory at the end of the code

			Example:
			<victory type="tile"/>

			Example 2:
			<victory type="itemposition">
				<inventory x="0" y="6">
					<item name="sand" count="3"/>
				</inventory>
			</victory>

	-->
	<levels>
		<level name="Level 1" difficulty="0" theme="desert"
			   useTopic="false"
			   useSensors="false"
			   usePickUpItem="false"
			   useDropItem="false"
			   useForLoop="false"
			   useReadSensor="false">
			<intro>
				Welcome to Robocode!
			</intro>
			<instructions>
				<div style="font-weight:bold">Get your robot to the oasis!</div>
				<br/>
				<br/>
				Move your robot by dragging the blocks into your robots panel
			</instructions>
			<victory type="tile"/>
			<robot name="Surus" x="1" y="2" direction="right" />
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="victory"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 2" difficulty="0" theme="desert"
			   useTopic="false"
			   useSensors="false"
			   usePickUpItem="false"
			   useDropItem="false"
			   useForLoop="false"
			   useReadSensor="false">
			<instructions>
				<div style="font-weight:bold">Get your robot to the oasis!</div>
				<br/>
				<br/>
				You have to move farther for this one. Adjust the number in the "Move" block to move more
			</instructions>
			<victory type="tile"/>
			<robot name="Surus" x="1" y="2" direction="right" />
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="victory"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 3" difficulty="0" theme="desert"
			   useTopic="false"
			   useSensors="false"
			   usePickUpItem="false"
			   useDropItem="false"
			   useForLoop="false"
			   useReadSensor="false">
			<instructions>
				<div style="font-weight:bold">Get your robot to the oasis!</div>
				<br/>
				<br/>
				Use the "Turn" block to adjust which direction you move
			</instructions>
			<victory type="tile"/>
			<robot name="Surus" x="1" y="2" direction="right" />
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="victory"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 4" difficulty="0" theme="desert"
			   useTopic="false"
			   useSensors="false"
			   usePickUpItem="false"
			   useDropItem="false"
			   useReadSensor="false">
			<instructions>
				<div style="font-weight:bold">Get your robot to the oasis!</div>
				<br/>
				<br/>
				Use the "For Loop" block to repeat code
			</instructions>
			<victory type="tile"/>
			<robot name="Surus" x="2" y="2" direction="up" actionLimit="3"/>
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="victory"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 5" difficulty="0" theme="desert"
			   useTopic="false"
			   useSensors="false"
			   usePickUpItem="false"
			   useDropItem="false"
			   useReadSensor="false">
			<instructions>
				<div style="font-weight:bold">Get your robot to the oasis!</div>
				<br/>
				<br/>
				This one is a little harder. Use the "For Loop" block to repeat code
			</instructions>
			<victory type="tile"/>
			<robot name="Surus" x="0" y="0" direction="up" actionLimit="5"/>
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="obstacle"></gridTile><gridTile type="neutral"></gridTile><gridTile type="victory"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="obstacle"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="obstacle"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 6" difficulty="0" theme="desert"
			   useTopic="false"
			   useSensors="false"
			   usePickUpItem="false"
			   useDropItem="false"
			   useReadSensor="false">
			<instructions>
				<div style="font-weight:bold">Get your robot to the oasis!</div>
				<br/>
				<br/>
				This one is a little harder. Use the "For Loop" block to repeat code
			</instructions>
			<victory type="tile"/>
			<robot name="Surus" x="0" y="0" direction="up" actionLimit="7"/>
			<grid>
				<gridRow>
					<gridTile type="obstacle"></gridTile><gridTile type="neutral"></gridTile><gridTile type="victory"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="obstacle"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="obstacle"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="obstacle"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="obstacle"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 7" difficulty="0" theme="desert"
			   useTopic="false"
			   useSensors="false"
			   useReadSensor="false">
			<instructions>
				<div style="font-weight:bold">Take the treasure to the oasis!</div>
				<br/>
				<br/>
				Pick up the treasure by moving to it and using the "Pick Up Item" block.
				<br/>
				<br/>
				Drop it off at the oasis using the "Drop Item" block
			</instructions>
			<victory type="itemposition">
				<inventory x="3" y="2">
					<item name="Treasure" count="1"/>
				</inventory>
			</victory>
			<robot name="Surus" x="1" y="2" direction="right"/>
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"><item id="0" count="1"/></gridTile><gridTile type="victory"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 8" difficulty="0" theme="desert"
			   useTopic="false"
			   useSensors="false"
			   useReadSensor="false">
			<instructions>
				<div style="font-weight:bold">Take the treasure to the oasis!</div>
				<br/>
				<br/>
				This one is a little tougher. Pick up and drop off the treasure again.
			</instructions>
			<victory type="itemposition">
				<inventory x="3" y="3">
					<item name="Treasure" count="1"/>
				</inventory>
			</victory>
			<robot name="Surus" x="1" y="0" direction="up"/>
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="victory"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"><item id="0" count="1"/></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 9" difficulty="0" theme="desert"
			   useTopic="false"
			   useSensors="false"
			   useReadSensor="false">
			<instructions>
				<div style="font-weight:bold">Take the treasure to the oasis!</div>
				<br/>
				<br/>
				There are two different items this time. Make sure to take the treasure!
			</instructions>
			<victory type="itemposition">
				<inventory x="3" y="2">
					<item name="Treasure" count="1"/>
				</inventory>
			</victory>
			<robot name="Surus" x="1" y="2" direction="right"/>
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"><item id="0" count="1"/></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="victory"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"><item id="1" count="1"/></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 10" difficulty="0" theme="desert"
			   useTopic="false"
			   useSensors="false"
			   useReadSensor="false">
			<instructions>
				<div style="font-weight:bold">Take the treasure to the oasis!</div>
				<br/>
				<br/>
				Pick up both piles of treasure to drop off. Remember to drop them both off!
				<br/>
				<br/>
				(hint: use a loop!)
			</instructions>
			<victory type="itemposition">
				<inventory x="3" y="3">
					<item name="Treasure" count="2"/>
				</inventory>
			</victory>
			<robot name="Surus" x="0" y="0" direction="right" actionLimit="11"/>
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="victory"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"><item id="0" count="1"/></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"><item id="0" count="1"/></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 11" difficulty="0" theme="desert"
			   usePickUpItem="false"
			   useDropItem="false"
			   useTurn="false"
			   topicOnlyForMove="true"
			   useForLoop="false">
			<instructions>
				<div style="font-weight:bold">Get your robot to the oasis!</div>
				<br/>
				<br/>
				Click your robot above to add a sensor.
				<br/>
				<br/>
				Your distance sensor can detect the how many spaces your robot can move before hitting the edge (or an obstacle).
				<br/>
				<br/>
				Read your sensor using the "Read Sensor" block, and your sensor data will be stored in the "Topic" above
				<br/>
				<br/>
				You can use the Topic as the number in the Move block
			</instructions>
			<victory type="tile"/>
			<robot name="Surus" x="1" y="0" direction="up"/>
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="victory"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 12" difficulty="0" theme="desert"
			   usePickUpItem="false"
			   useDropItem="false"
			   topicOnlyForMove="true"
			   useForLoop="false">
			<instructions>
				<div style="font-weight:bold">Get your robot to the oasis!</div>
				<br/>
				<br/>
				You'll have to read the sensor more than once this time.
				<br/>
				<br/>
				Click your robot above to add a sensor.
				<br/>
				<br/>
				Your distance sensor can detect the how many spaces your robot can move before hitting the edge (or an obstacle).
				<br/>
				<br/>
				Read your sensor using the "Read Sensor" block, and your sensor data will be stored in the "Topic" above
				<br/>
				<br/>
				You can use the Topic as the number in the Move block
			</instructions>
			<victory type="tile"/>
			<robot name="Surus" x="1" y="0" direction="up"/>
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="victory"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 13" difficulty="0" theme="desert"
			   topicOnlyForMove="true"
			   useForLoop="false">
			<instructions>
				<div style="font-weight:bold">Take the treasure to the oasis!</div>
				<br/>
				<br/>
				This time, you'll need your sensor to move the treasure.
			</instructions>
			<victory type="itemposition">
				<inventory x="3" y="0">
					<item name="Treasure" count="1"/>
				</inventory>
			</victory>
			<robot name="Surus" x="1" y="0" direction="left"/>
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"><item id="0" count="1"/></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="victory"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 14" difficulty="0" theme="desert"
			   topicOnlyForMove="true"
			   useForLoop="false">
			<instructions>
				<div style="font-weight:bold">Take the treasure to the oasis!</div>
				<br/>
				<br/>
				Last level!
				<br/>
				<br/>
				This one is tricky. Remember to use your sensor!
			</instructions>
			<victory type="itemposition">
				<inventory x="3" y="2">
					<item name="Treasure" count="1"/>
				</inventory>
			</victory>
			<robot name="Surus" x="1" y="0" direction="left"/>
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"><item id="0" count="1"/></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="victory"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="obstacle"></gridTile>
				</gridRow>
				<gridRow>
					<gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile><gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>
	</levels>
</game>
