<?xml version="1.0" encoding="utf-8"?>
<game>
	<robots>
		<robot name="Surus" graphic="res/robot/surus.png"/>
		<robot name="Hushpuppy" graphic="res/robot/hushpuppy.png"/>
	</robots>
	<levels>
		<level name="Level 1" difficulty="1">
			<robot name="Surus" x="0" y="8" direction="up"/>
			<robot name="Hushpuppy" x="3" y="3" direction="up"/>
			<grid>
				<gridRow>
					<gridTile type="victory"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="obstacle"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"><item name="sand" count="3"/></gridTile>
					<gridTile type="neutral"><item name="water" count="3"/></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>

		<level name="Level 2" difficulty="99">
			<robot name="Surus" x="0" y="1" direction="down"/>
			<grid>
				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="victory"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>

				<gridRow>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
					<gridTile type="neutral"></gridTile>
				</gridRow>
			</grid>
		</level>
	</levels>
</game>
