#grid{
	top: 0;
	left: 0;
	width: 20%;
	float:left;
}

#editor{
	position: absolute;
	width: 80%;
	height: 100%;
	left: 20%;
	overflow: hidden;
}

#panelTable{
	position: absolute;
	width:100%;
	height:100%;
	padding: 0px;
}

#panelContainer{
	position: absolute;
	width:80%;
	height:100%;
	right: 20%;
	float: left;
	overflow: auto;
}

#drawer{
	position: absolute;
	width:20%;
	height:100%;
	left: 80%;
	float: right;
	background-color: #BBDEFB;
	box-shadow: -10px 0px 20px grey;
	z-index: 10;
	overflow: auto;
}

table{
	border-spacing: 0px;
}

.panelTd{
	min-width: 200px;
}

.panel{
	background-color: #0b97c4;
	height: 90%;
	margin: 5%;
	border-style: solid;
	border-color: grey;
	box-shadow: 0px 0px 10px grey;
	border-radius: 10px;
	overflow: auto;
}

.actionBlock{
	width:calc(100% - 10px);
	height:40px;
	background-color: #00d6b2;
	box-shadow: 0px 0px 2px grey;
	line-height: 40px;
	text-align: center;
	padding-left: 10px;
}

td, th {
	padding: 0px;
}

.panelHeader{
	width:calc(100% - 10px);
	height:60px;
	line-height: 60px;
	text-align: center;
	background-color: #FF5722;
	padding-left: 10px;
}

.panelHeaderName{
	float: left;
	height: 100%;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.panelHeaderButton{
	height:100%;
	width:20%;
	float: right;
}

.actionName{
	float:left;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}